[0;1;31m×[0m scx.service - SCX scheduler daemon
     Loaded: loaded (]8;;file://omnibook/etc/systemd/system/scx.service\/etc/systemd/system/scx.service]8;;\; [0;1;32menabled[0m; preset: ignored)
     Active: [0;1;31mfailed[0m (Result: start-limit-hit) since Tue 2026-08-18 08:52:49 EDT; 5s ago
   Duration: 1.238s
 Invocation: 074cf3de808e4f78afd8eaa84b16eef4
    Process: 409296 ExecStart=/nix/store/byi2zpy2bgcf3dr6y0l8m50rmjj8z7q1-bash-5.3p15/bin/bash -c exec /nix/store/l62fc309ga3qh0dk1ijhylamv4xcjcjr-scx_full-1.1.2/bin/${SCX_SCHEDULER_OVERRIDE:-$SCX_SCHEDULER} ${SCX_FLAGS_OVERRIDE:-$SCX_FLAGS} [0;1;31m(code=exited, status=1/FAILURE)[0m
   Main PID: 409296 (code=exited, status=1/FAILURE)
         IP: 0B in, 0B out
         IO: 0B read, 0B written
   Mem peak: 94.4M
        CPU: 88ms

Aug 18 08:52:49 omnibook systemd[1]: scx.service: Scheduled restart job, restart counter is at 2.
Aug 18 08:52:49 omnibook systemd[1]: [0;1;38:5:185m[0;1;39m[0;1;38:5:185mscx.service: Start request repeated too quickly.[0m
Aug 18 08:52:49 omnibook systemd[1]: [0;1;38:5:185m[0;1;39m[0;1;38:5:185mscx.service: Failed with result 'start-limit-hit'.[0m
Aug 18 08:52:49 omnibook systemd[1]: [0;1;31m[0;1;39m[0;1;31mFailed to start SCX scheduler daemon.[0m
Aug 18 08:52:49 omnibook systemd[1]: scx.service: Consumed 88ms CPU time over 283ms wall clock time, 94.4M memory peak.
